html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: #1060C0;
  font-weight: 600;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: #1060C0;
}

* {
  box-sizing: border-box;
}
